<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308068199132-nbhhcc2jicsun87gk5uu05586tof8e8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308068199132-nbhhcc2jicsun87gk5uu05586tof8e8b</string>
	<key>API_KEY</key>
	<string>AIzaSyAAkMvIUPnJssp9LA1rpdwxnMpTInStT84</string>
	<key>GCM_SENDER_ID</key>
	<string>308068199132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-84f28</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-84f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308068199132:ios:55dfdcf91714b51e23e219</string>
</dict>
</plist>